html, body, #root, .App {
  height: 100%;
}

.Nav {
  border: 1px solid green;
  display: flex;
  height: 2em;
}

.Nav a {
  flex: 1;
  height: 100%;
  line-height: 2em;
}

a:hover {
  background: green;
  color: white;
}

.DataRow {
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid #555;
  display: flex;
  padding: 0.3em;
}

.DataRow:nth-of-type(odd) {
  background: rgba(39, 93, 93, 0.09);
}

.DataRow .Text {
  flex: 1;
}

